<form action="http://localhost:8080/login" method="post">
  <div>
  <label for="exampleFormControlInput1" class="form-label">Usuario</label>
  <input type="text" class="form-control" name="username" id="username" placeholder="Ingrese su usuario">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>
  <input type="text" class="form-control" name="password" id="password" placeholder="Ingrese contraseña"></input>
</div>
<div>
    <input class="btn btn-primary" type="submit" value="Confirmar">
</div>
</form>
